/*.example-form-field {
  width: 200px;
}
*/
textarea {
  width: 100%;
  word-wrap: break-word;
}

mat-form-field {
  display: block;
  margin: 0 10px;
}

div.row {
  display: inline-block; 
  height: 100%;
  margin-top: 20px;
  margin-left: 50px;
  width: 100%;
}  

div.col-lg-2 {
  width: 5%;
}

div.col-lg-5 {
  width: 45%;
  height: 100%;
}



